/* .App{
  background-color: #152238;
  } */

.sidebar
{
  background-color:#142138;
  color:antiquewhite
}

.navbar-custom{
  height: 100px;
  background-color:#152238
} 
.items
{
  display: flex;
  flex-direction: column;
}

.flex-items
{
  margin: 10px;
  color:white
}

.adduser,.list,.home
{
  margin-top: 120px;
}
#tbl,#dashboard
{
  background-color: #152238;
}
